<div class="container text-center">
<h1>About Page</h1>
<p>We are DevMatch. Our company focuses on creating an exclusinve community for 
developers and startups to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quo aperiam ullam sunt adipisci beatae reprehenderit atque dignissimos alias, corporis sed facere quam aspernatur, qui quaerat esse quisquam obcaecati, commodi.</p>
</div>