<div class="container text-center">
<h1>About Page</h1>
<br>
<h4>Tyler's DevMatch. Our company focuses on creating an exclusive community for startups to meet developers.

</h4>

<br>
<div class="col-md-offset-1.5">
<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quo aperiam ullam sunt adipisci beatae reprehenderit atque dignissimos alias, corporis sed facere quam aspernatur, qui quaerat esse quisquam obcaecati, commodi.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quia labore laborum deserunt asperiores distinctio tempora esse eos doloremque sed reprehenderit nostrum aut quis eum impedit, nemo debitis sint et. 
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi neque rerum necessitatibus, labore iste libero placeat quos laborum, quo debitis dolores adipisci dolorem impedit. Ducimus, animi, rerum. Blanditiis, officia itaque?</h4>
<br>
<p>
Well... this is a <a href="https://upskillcourses.com/courses/essential-web-developer-course/"> fictional startup project</a> created using the Ruby on Rails MVC framework. 
<BR>User interface is written using HTML5, SCSS, JavaScript.

You can find the codes <a href="https://github.com/tylersay/upskill_saas_II">here.</a> </p>

<p>Dev: AWS C9; Deploy: Heroku; User authentication: Devise</p>


</div>
</div>